
/* CSS Reset */
html, body, div, form, fieldset, legend, label, ul, ol { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
th, td { text-align: left; vertical-align: top; font-weight: normal; }
caption { font-weight: normal; }
p { margin-top: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin-top: 0; }
img { border: 0; }
li { margin: 0; padding: 0;  list-style: none; }

input, textarea, select {
  font-size: 110%;
  line-height: 1.1;
}
body {
  color: #222222;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
/**********************************/

a img {
  border: 0 none;
}
.clean-link, .clean-link:visited {
  color: inherit;
  text-decoration: none;
}
.clean-link:hover, .clean-link:focus {
  text-decoration: underline;
}

/**********************************/

.manifesto-container {
  width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.alliance-title {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 20px;
}

.page-title {
  max-width: 600px;
  font-weight: bold;
  font-size: large;

  border-bottom: #FFBF00;
  border-bottom-width: 5px;
  border-bottom-style: solid;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.logo-img {
  width: 150px;
  height: 150px;
}

.bad-term {
  color: #000000;
  font-weight: bold;
  font-size: larger;
}

.good-term {
  color: #000000;
  font-weight: bold;
  font-size: larger;
}

.point-block {
  display: inline-block;
  width: 400px;
  text-align: center;
  margin: 20px;
}

.bad-point-block {
  padding: 10px;
  border: 3px solid #FF0000;

  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
}

.good-point-block {
  padding: 10px;
  border: 3px solid #000000;

  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
}

.point {
  width: 260px;

  text-align: center;
  padding-top: 10px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;  
}

.bad-point {
  border-bottom: #0000FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.good-point {
  border-bottom: #FFBF00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.sub-points {
  text-align: center;
  font-size: small;
  padding-bottom: 10px;
}

.drop-container {
  cursor: pointer;
}

.drop-container:hover {
  background: #FFF7E0;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
}

.drop-container .drop-content {
  display: none;
}

.drop-element.drop-theme-arrows-bounce .drop-content {
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, .8));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, .8));
}

.action-text {
  font-family: monospace;
  margin: 1em 0px 1em;
}

.action-button {
  font-family: monospace;
  display: inline-block;
  background: #FFE088;
  font-size: large;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}
.action-button:hover {
  background: #FFBF00;
}

.action-title {
  font-size: larger;
  text-align: center;
  margin-bottom: 5px;
}

.action-divider {
  border-bottom: #FFBF00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  margin-top: 10px;
  margin-bottom:  10px;
}
