@import scala.util.Random
@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="@routes.Assets.versioned("images/favi/apple-touch-icon-57x57.png")" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.versioned("images/favi/apple-touch-icon-72x72.png")" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="@routes.Assets.versioned("images/favi/apple-touch-icon-60x60.png")" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="@routes.Assets.versioned("images/favi/apple-touch-icon-76x76.png")" />
    <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favi/favicon-32x32.png")" sizes="32x32" />
    <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favi/favicon-16x16.png")" sizes="16x16" />
    <meta name="application-name" content="People's Alliance"/>
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="msapplication-square70x70logo" content="@routes.Assets.versioned("images/favi/mstile-70x70.png")" />

<script src="@routes.Assets.versioned("lib/jquery/jquery-2.2.4.min.js")"></script>

<link rel="stylesheet" href="@routes.Assets.versioned("lib/drop/css/drop-theme-arrows-bounce.min.css")" />
<script src="@routes.Assets.versioned("lib/tether/js/tether.min.js")"></script>
<script src="@routes.Assets.versioned("lib/drop/js/drop.min.js")"></script>

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/reset.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  </head>
  <body>
    @*<div>
      <div>@nav()</div>
      <div>@content</div>
      <div>@footer()</div>
    </div>
    <div class="logo-container">
      <img class="logo-img" src="@routes.Assets.versioned("images/silhouette_logo_-_03_-_circle.png")" >
    </div>
    *@
    <div class="manifesto-container">
      <img class="logo-img" src="@routes.Assets.versioned("images/silhouette_logo_-_03_-_circle.png")" >

<div class="alliance-title">The People's Alliance</div>

<div class="page-title" >Genesis Manifesto</div>

<div>It is time to craft a new political organization to replace the parties.</div>

<div class="point-block">
<span class="drop-container">
  <a class="drop-target point-block-title">Parties</a>
  <div class="drop-content">
<pre>par·ty | ˈpärdē
1. a social gathering of invited guests typically
   involving eating, drinking, and entertainment
2. a formal political group that contests elections</pre>
  </div>
</span>
<div class="bad-point-block">
<div class="point bad-point">Parties are <span class="bad-term">opaque</span></div>
<div class="sub-points">
<span class="drop-container">
  <a class="drop-target" data-position="right middle">Complex rules</a>
  <div class="drop-content">
    <iframe width="448" height="252" src="https://www.youtube-nocookie.com/embed/_S2G8jhhUHg?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</span>
·
<span class="drop-container">
  <a class="drop-target">Partisan</a>
  <div class="drop-content">
    <iframe width="448" height="252" src="https://www.youtube-nocookie.com/embed/akr5E44b7Ks?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</span>
·
<span class="drop-container">
  <a class="drop-target">Exclusive</a>
  <div class="drop-content">
@if(Random.nextBoolean) {
    <iframe width="448" height="252" src="https://www.youtube-nocookie.com/embed/4EkGMlHxRQQ?rel=0" frameborder="0" allowfullscreen></iframe>
} else {
    <iframe width="448" height="252" src="https://www.youtube-nocookie.com/embed/yfJeuk9Qizw?rel=0" frameborder="0" allowfullscreen></iframe>
}
    @*John oliver, voter id - <iframe width="448" height="252" src="https://www.youtube-nocookie.com/embed/rHFOwlMCdto?rel=0" frameborder="0" allowfullscreen></iframe>*@
  </div>
</span>
</div>

<div class="point bad-point">Parties <span class="bad-term">corrupt</span> candidates</div>
<div class="sub-points">
<span class="drop-container">
  <a class="drop-target" data-position="right middle">Poor character</a>
  <div class="drop-content">
    <iframe width="448" height="252" src="https://www.youtube-nocookie.com/embed/rq4VIJmRiec?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</span>
·
<span class="drop-container">
  <a class="drop-target">Lack knowledge</a>
  <div class="drop-content">
    <iframe width="448" height="252" src="https://www.youtube-nocookie.com/embed/y44nqo11Fh0?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</span>
·
<span class="drop-container">
  <a class="drop-target">Candidate fund raising</a>
  <div class="drop-content">
    <iframe width="448" height="252" src="https://www.youtube-nocookie.com/embed/Ylomy1Aw9Hk?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</span>
</div>

<div class="point bad-point">Parties enable the <span class="bad-term">wealthy</span> class</div>
<div class="sub-points">
<span class="drop-container">
  <a class="drop-target" data-position="right middle">Lobbyists first</a>
  <div class="drop-content">
    <iframe width="448" height="252" src="https://www.youtube-nocookie.com/embed/xcwJt4bcnXs?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</span>
·
<span class="drop-container">
  <a class="drop-target" data-position="top center">Employer's choice</a>
  <div class="drop-content">
    <iframe width="448" height="252" src="https://www.youtube-nocookie.com/embed/zSQCH1qyIDo?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</span>
·
<span class="drop-container">
  <a class="drop-target" data-position="top center">Money is speech</a>
  <div class="drop-content">
    <iframe width="448" height="252" src="https://www.youtube-nocookie.com/embed/EEuZjQmZFJc?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</span>
</div>
</div>
</div>

<div class="point-block">
<span class="drop-container">
  <a class="drop-target point-block-title">Alliance</a>
  <div class="drop-content">
<pre>al·li·ance | əˈlīəns
a union or association formed for mutual benefit</pre>
  </div>
</span>
<div class="good-point-block">
<div class="point good-point">Alliance is <span class="good-term">transparent</span></div>
<div class="sub-points">
Simple rules
·
Receptive
·
Inclusive
</div>

<div class="point good-point">Alliance <span class="good-term">supports</span> candidates</div>
<div class="sub-points">
Personal coaching
·
Continuous education
·
Alliance fund raising
</div>

<div class="point good-point">Alliance enables the <span class="good-term">common</span> class</div>
<div class="sub-points">
Voters first
·
Employee's rights
·
Community is speech
</div>
</div>
</div>
<div></div>
<span class="drop-container">
  <a class="action-text drop-target">#notaparty</a>
  <div class="drop-content">
    Social shares!
  </div>
</span>
<br><br>
<span class="drop-container">
  <a class="action-button drop-target">Are you an ally?</a>
  <div class="drop-content">
    <div class="action-title">How to donate:</div>
    (put donation buttons here)
    <div class="action-divider"></div>
    <div class="action-title">How to volunteer:</div>
    Send an email to <a class="clean-link" href="mailto:volunteer@@peoplesalliance.us?Subject=Volunteer request" target="_top">volunteers@@peoplesalliance.us</a>
    <br>and let us know how you can help.
  </div>
</span>
<br><br>
<span class="drop-container">
  <a class="action-text drop-target">Jonathan Word</a>
  <div class="drop-content">
    I am <a class="clean-link" href="https://www.linkedin.com/in/jonathanword">Jonathan Word</a>.
    <br>
    Email: <a class="clean-link" href="mailto:jonathan@@peoplesalliance.us?Subject=Genesis%20Manifesto" target="_top">jonathan@@peoplesalliance.us</a>
  </div>
</span>
<br><br><br><br>
    <script src="@routes.Assets.versioned("javascripts/manifesto.js")" type="text/javascript"></script>

    </div>
  </body>
</html>
